<div
	class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
	<div class="flex items-center justify-between mb-4">
		<h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">
			Etudiants inscrits
		</h5>
	</div>
	<div class="flow-root">
		<ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
			{% if course.registered_students.all|length == 0 %}
			<li>
				<p class="text-gray-900 dark:text-gray-300">
					Pas d'étudiants inscrits
				</p>
			</li>
			{% else %}
			{% for course_registered in course.registered_students.all %}
			<li class="py-3 sm:py-4">
				{% include 'partials/users/user.html' with user=course_registered.student %}
			</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>
</div>
